apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  selector:
    app: frontend
    version: blue   # Jenkins will switch this
  ports:
  - port: 80
    targetPort: 80
  type: LoadBalancer

