apiverion: apps/v1
kind: Deployment
metadata:
  name: backend-blue
spec:
  replicas: 2
  selector:
    matchLables:
      app: backend
      version: blue
  template:
    metadata:
      labels:
        app: backend
        version: blue
    spec:
      containers:
        - name: backend
          image: REGION-docker.pkg.dev/PROJECT_ID/cloudnotes-docker/backend:BLUE
          ports:
          - containerPort: 5000
          envFrom:
          - configMapRef:
              name: cloudnotes-config
          - secretRef:
              name: cloudnotes-secrets
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 15
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5

