apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-green
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
      version: green
  template:
    metadata:
      labels:
        app: backend
        version: green
    spec:
      containers:
      - name: backend
        image: REGION-docker.pkg.dev/PROJECT_ID/cloudnotes-docker/backend:GREEN
        ports:
        - containerPort: 5000
        envFrom:
        - configMapRef:
            name: cloudnotes-config
        - secretRef:
            name: cloudnotes-secrets
        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 15
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 5
